#home-title {
  font-size: 300px; /* Set the title size to 300px */
  color: white; /* Assuming white text on a dark background */
  z-index: 1; /* Ensure the title stays above the image */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  line-height: 1; /* Adjust line-height to prevent extra spacing */
  position: relative;
}

.home-container {
  background-color: $primary;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align title near the top */
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden; /* Ensure that any overflow content is hidden */
}

.title-container {
  // position: relative;
  margin-top: 5vh; /* Position the title slightly down from the top */
  z-index: 2; /* Ensure the title stays above the image */
  > h2:nth-of-type(1) {
    left: -300px;
  }
  > h2:nth-of-type(2) {
    left: 410px;
  }
}

.overlay-image {
  position: absolute;
  bottom: 0; /* Position the image at the bottom of the container */
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px; /* Adjust the image size to cover the title partially */
  height: auto;
  z-index: 1; /* Ensure the image is behind the title */
}

.btn-container {
  position: absolute;
  bottom: 60px; /* Space from the bottom of the screen */
  right: 60px; /* Space from the right edge of the screen */
  z-index: 3; /* Ensure the button is above other content */
}

.btn-container .btn {
  /* Optional: Style the button to fit your design */
  font-size: 16px; /* Adjust as needed */
  padding: 5px 5px; /* Adjust padding as needed */
  background-color: $black;
}

#home-subtitle {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  white-space: pre;
  position: relative;
  z-index: 2;
}

#home-subtitle span {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s ease;
}
