// Import page-specific CSS files here.
@import "home";

.backgroundfont {
  text-align: center;
  color: white !important;
  font-weight: 800;
  // -webkit-text-stroke: 0.5px white;
  text-shadow: $dark-green 2px 0 4px;
}

#index-title {
  display: inline-block;
  color:darkslategray;
  font-size: 4rem;
  white-space: pre;
  position: relative;
  z-index: 2;
}

#index-title span {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s ease;
}

#filters {
  font-weight: bold;
  color:darkslategray;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.form-grid-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-grid-checkbox input[type="checkbox"] + label {
  display: contents;
}

.form-grid-checkbox label {
  display: flex;
}
