<%= turbo_frame_tag :events_frame do %>
  <% if @subs.present? %>
  <div class="d-flex flex-wrap">
    <% @follows.each do |follow| %>
      <div class="card m-3" style="width: 18rem; border-radius: 15px">
        <%= link_to event_path(follow.event) do %>
          <img src="<%= follow.event.image_url %>" class="card-img-top" alt="<%= follow.event.name %>" style="height: 200px; object-fit: cover; width: 100%;">
        <% end %>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
      <p class="text-center">No favorites found.</p>
    </div>
  <% end %>
<% end %>
