<% case @event.category %>
  <% when 'Murder' %>
      <img src="/images/cat-murder-icon.png" alt="Murder category">
  <% when 'Zombie' %>
      <img src="/images/cat-zombie-icon.png" alt="Zombie category">
  <% when 'Fantasy' %>
      <img src="/images/cat-fantasy-icon.png" alt="Fantasy Category">
  <% when 'Science-fiction' %>
      <img src="/images/cat-SF-icon.png" alt="Science-Fiction Category">
  <% when 'History' %>
      <img src="/images/cat-Historical-icon.png" alt="Historical Category">
  <% else %>
      <img src="/images/cat-Default-icon.png" alt="Other Category">
  <% end %>
</div>
