<div class="form-card-style form-card-color position-relative p-4">
  <p><i class="fa-solid fa-pen-nib text-primary"></i> Dear GN Map member,</p>

  <p><strong>Thank you</strong> for trusting us to post your LARP event on our website. We are excited to help you promote your event to our passionate community.</p>

  <p>To ensure your post has the maximum impact, here are a few tips:</p>

  <ul>
    <li><strong>Catchy Title:</strong> A compelling title can draw more attention to your event.</li>
    <li><strong>Detailed Description:</strong> Include key details such as the event's date, location, and duration. Be sure to mention any specific requirements or guidelines for participants.</li>
    <li><strong>Immersive Storyline:</strong> Share a brief summary of the event's plot to entice potential players and immerse them in the experience from the start.</li>
    <li><strong>Visual Elements:</strong> Consider adding images or videos that showcase the setting or previous events. Visuals can significantly increase engagement.</li>
    <li><strong>Contact Information:</strong> Make sure to provide contact details so that interested participants can easily reach you for further inquiries.</li>
  </ul>

  <p>We look forward to seeing your event come to life and wish you great success!</p>

  <p>Best regards,</p>

  <p class="mb-0">The GNmap Team</p>

  <%= image_tag 'Logo_GN.png', class: 'logo-image' %>
</div>
