<h1 id="index-title" class="d-flex justify-content-center align-items-center text-center m-2" data-controller="title">Vivez l'aventure, Grandeur Nature.</h1>

<div class="container justify-content-center align-items-center"style="width: 80%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= render partial: "layouts/searchbar" %>

<!-- Cards restantes -->
<div id="cards-view" class="d-flex flex-wrap justify-content-center">
  <% if @events.present? %>
    <% @events.each do |event| %>
      <%= render partial: "events/index_card", locals: { event: event } %>
    <% end %>
  <% else %>
    <p>No events available.</p>
  <% end %>
</div>
<br>
