<div class="d-flex flex-wrap">
  <% @subs.each do |sub| %>
    <div class="card m-3" style="width: 18rem; border-radius: 15px">
      <%= link_to event_path(sub.event) do %>
        <img src="<%= sub.event.image_url %>" class="card-img-top" alt="<%= sub.event.name %>" style="height: 200px; object-fit: cover; width: 100%;">
      <% end %>
    </div>
  <% end %>
</div>
