<div class="participants-container-request">
  <div class="d-flex">
    <h4 class="text-dark-green"><strong>Participations request for <%= event.name %></strong></h4>
    <button class="btn btn-info p-1 mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#followers-<%= event.id %>" aria-expanded="false" aria-controls="followers-<%= event.id %>">
      <i class="fa-solid fa-chevron-down"></i>
    </button>
  </div>
  <%= render "reject_accept_sub", event: event %>
</div>
