<div class="home-container">
  <div class="title-container">
    <h1 id="home-title" class="ms-5">GN Map</h1>
    <h2 id="home-subtitle" class="d-flex align-items-center text-center m-2" data-controller="title" data-title-delay-value="0">Step into the Story</h2>
    <h2 id="home-subtitle" class="d-flex align-items-center text-center m-2" data-controller="title" data-title-delay-value="1500">LARP Your Way.</h2>
    <img src="<%= asset_path('home-picture.png') %>" alt="Overlay Image" class="overlay-image">
  </div>
  <div class="btn-container">
    <%= link_to events_path, class: "btn btn-primary btn-lg" do %>
      Live the adventure now <i class="fa-solid fa-arrow-right"></i>
    <% end %>
  </div>
</div>
