<div class="home-container">
  <div class="title-container">
    <h1 id="home-title">GN Map</h1>
    <img src="<%= asset_path('home-picture.png') %>" alt="Overlay Image" class="overlay-image">
  </div>
  <div class="btn-container">
    <%= link_to events_path, class: "btn btn-primary btn-lg" do %>
      Live the adventure now <i class="fa-solid fa-arrow-right"></i>
    <% end %>
  </div>
</div>
