<div class="video-container">
  <video autoplay muted loop playsinline class="background-video">
    <source src="<%= asset_path('Home-video.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="overlay-content">
    <%= link_to "Enter in GN Map", events_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
