/* Myevents menu button selected */
.btn-custom-selected {
  font-size: 0.875em; /* Smaller font size, you can adjust this value */
  width: 200px;
  border-radius: 10px; /* More rounded corners, adjust as needed */
  padding: 0.5rem 1rem; /* Adjust padding to maintain good appearance with smaller font */
  color: $primary; /* Text color */
  background-color: white; /* Primary background color */
  border: 1px solid white; /* Match border to background */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

//-------------------------------\\

/* Myevents menu button not selected */
.btn-custom-not-selected {
  font-size: 0.875em; /* Smaller font size, you can adjust this value */
  width: 200px;
  border-radius: 10px; /* More rounded corners, adjust as needed */
  padding: 0.5rem 1rem; /* Adjust padding to maintain good appearance with smaller font */
  color: #fff; /* Text color */
  background-color: $primary; /* Primary background color */
  border: 1px solid $primary; /* Match border to background */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Hover and focus states */
.btn-custom-not-selected:hover,
.btn-custom-not-selected:focus {
  background-color: white; /* Darker shade for hover */
  border-color: #31463b; /* Darker border on hover */
  color: $primary;
}

.myevents-menu-spaced {
  margin-top: 50px; /* Adjust this value to increase or decrease space */
}


.round-button {
  width: 25px; /* Ajustez selon vos besoins */
  height: 25px; /* Assurez-vous que la hauteur est égale à la largeur */
  border-radius: 50%; /* Assure une forme ronde */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-primary {
  font-size: 1.5em;
  padding: 10px 20px;
  z-index: 2; /* Ensure button is on top */
}
