/* Myevents menu button selected */
.btn-custom-selected {
  font-size: 1.5em;
  width: 300px;
  border-radius: 0px;
  padding: 0.5rem;
  color: $primary;
  border-bottom: 1px solid $primary;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Myevents menu button not selected */
.btn-custom-not-selected {
  font-size: 1.5em;
  width: 300px;
  border-radius: 0px;
  padding: 0.5rem;
  color: #526f6065;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Hover and focus states */
.btn-custom-not-selected:hover,
.btn-custom-not-selected:focus {
  background-color: white; /* Darker shade for hover */
  border-color: #31463b; /* Darker border on hover */
  color: $primary;
}

.myevents-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  border-radius: 10px;
}


.round-button {
  width: 25px; /* Ajustez selon vos besoins */
  height: 25px; /* Assurez-vous que la hauteur est égale à la largeur */
  border-radius: 50%; /* Assure une forme ronde */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-primary {
  font-size: 1.5em;
  padding: 10px 20px;
  z-index: 2; /* Ensure button is on top */
  border-radius: 10px;
}

.btn-outline-primary {
  border-radius: 10px;
}

.no-underline {
  text-decoration: none;
}
