.card {
  margin: 2rem;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
}

.card-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-text{
  margin: 10px 0 0 0;
  font-size: 0.875rem; /* Adjust font size */
}

.card-text-address {
  white-space: nowrap;      /* Prevent text from wrapping to the next line */
  overflow: hidden;         /* Hide any overflow text */
  text-overflow: ellipsis;  /* Add ellipsis (...) for overflow text */
  max-width: 100%;          /* Ensure it fits within the container */
}

.card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px;
}

.card-event {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-event-image {
  height: 190px;
  background-position: center;
  background-size: cover;
}

.img_myevents_cards_container {
  position: relative; /* Assure que le conteneur positionne l'image correctement */
  overflow: hidden; /* Masque les parties de l'image qui dépassent */
}

.img_myevents_cards {
  width: 100%; /* Prend toute la largeur du conteneur */
  height: 100%; /* Prend toute la hauteur du conteneur */
  object-fit: cover; /* Recadre l'image pour couvrir le conteneur */
}

.default-image-show {
  width: 100%; /* ou une largeur spécifique */
  height: 300px; /* ou une hauteur spécifique */
  position: relative;
}

.sticky-top-mod {
  position: sticky;
  top: 80px; /* Adjust this based on your navbar height */
}

/* Ensure the card does not overlap with the content below */
.container.mt-4 {
  margin-top: 120px; /* Adjust this based on the expected stop point */
}
.card-booking {
  position:relative /* S'assure que la carte prend toute la hauteur disponible */
}

.card-booking .button-cancel-bookingcard {
  position:absolute;
  top: 0px;
  left: 95%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
