// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }

.card-image{
  width: 50%; /* ou une largeur spécifique */
  height: 300px; /* ou une hauteur spécifique */
  position: relative;
}

.default-image-show {
  width: 100%; /* ou une largeur spécifique */
  height: 300px; /* ou une hauteur spécifique */
  position: relative;
}
