.fa-heart {
  color: $red;
}

.icon-class {
object-position: center;
}

.icon-size {
  width: 16px; /* Adjust icon size */
  height: 16px; /* Adjust icon size */
}

.icon-class {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.rotated-left {
  transform: rotate(90deg);
}
