.fa-heart {
  color: $red;
}

.icon-star-size {
  width: 16px;
  height: 16px;
}

.rotated-left {
  transform: rotate(90deg);
}

.cercle-icon {
  background-color: $info;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
}


.cercle-icon-past {
  background-color: $primary;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  border: none;
}

.cercle-icon-card-event {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  border: none;
  // font-size: 24px;
}

.cercle-icon-past-event {
  background-color: $primary;
  font-size: 80%;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  border: none;
}
