.fa-heart {
  color: $red;
}

.icon-size {
  width: 16px; /* Adjust icon size */
  height: 16px; /* Adjust icon size */
}

.rotated-left {
  transform: rotate(90deg);
}

.cercle-icon {
  background-color: $info;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
}
