.mapboxgl-popup {
  // max-width: 300px;
  // max-height: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none !important;
}

.address-autocomplete-container {
  width: 100%  !important;
}

/* Assurez-vous que l'élément de l'autocomplétion prend toute la largeur */
.mapboxgl-ctrl-geocoder {
  width: 100%;
}

/* Si le style par défaut de Mapbox ajoute un padding, vous devrez peut-être le supprimer */
.mapboxgl-ctrl-geocoder input {
  width: 100% !important;
  box-sizing: border-box;
}

.marker {
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
  background-size: contain !important;
  animation: pulseOpacity 2s infinite;
}

@keyframes pulseOpacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
