/* Navbar adjustments */
.navbar {
  margin-bottom: 0; /* Remove the bottom margin to avoid gaps */
  height: 80px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $primary !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text-center-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text-center-custom h4 {
  margin: 0;
}

.navbar .user-level {
  /* Optional: customize the text color and size for the level */
  color: $yellow; /* Bootstrap's muted text color */
  font-size: 0.875rem; /* Slightly smaller font size */
}

.logo-container {
  display: flex;
  align-items: center; /* Ensures the logo is vertically centered */
}

/* Adjusting or removing margin from container-fluid */
.container-fluid {
  padding-left: 20px; /* Apply padding instead of margin to avoid pushing the video */
  padding-right: 20px;
  margin: 0; /* Remove margin to avoid creating gaps */
}

.my-events-link {
  margin-right: 20px; /* Adjust this value as needed */
}

/* No underline for links */
.no-underline {
  text-decoration: none;
}
