/* Navbar adjustments */
.navbar {
  margin-bottom: 0; /* Remove the bottom margin to avoid gaps */
}

.navbar-lewagon {
  justify-content: space-between;
  background: $primary !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text-center-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text-center-custom h4 {
  margin: 0;
}

.logo-container {
  display: flex;
  align-items: center; /* Ensures the logo is vertically centered */
}

/* Adjusting or removing margin from container-fluid */
.container-fluid {
  padding-left: 150px; /* Apply padding instead of margin to avoid pushing the video */
  padding-right: 150px;
  margin: 0; /* Remove margin to avoid creating gaps */
}
