.participants-container-request {
  padding: 10px;
}

.collapse .col-md-4 {
  display: flex;
  align-items: center;
}

.participants-hidden.collapse {
  transition: all 0.3s ease;
}

.participants-hidden.show {
  display: block !important;
}
