<%= turbo_frame_tag :notifications_list, class: "display: block" do %>
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
      <%= render partial: "layouts/notification_item", locals: { notification: notification } %>
    <% end %>
  <% else %>
    <span class="dropdown-item notification-empty-state">Aucune notification</span>
  <% end %>
<% end %>

<style>
  .notification-empty-state {
    display: none;
  }

  .notification-empty-state:only-child {
    display: block;
  }
</style>
