<div id="notifications_list">
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
      <%= render partial: "layouts/notification_item", locals: { notification: notification } %>
    <% end %>
  <% else %>
    <span class="dropdown-item notification-empty-state">No notification</span>
  <% end %>
</div>

<style>
  .notification-empty-state {
    display: none;
  }

  .notification-empty-state:only-child {
    display: block;
  }
</style>
