<% if unread_count.to_i > 0 %>
  <span class="notification-badge badge badge-danger" style="position: absolute; top: 0; right: 0; background-color: red; color: white; border-radius: 50%; font-size: 0.75em;"><%= unread_count %></span>
<% end %>
